<!doctype html>
<html>

<head>
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body ng-app = "myapp">

  <div ng-controller = "UserController" >
    <h2>{{login}}</h2>
  </div>

  <script>
  var app = angular.module("myapp", [])
  var baseDomain = 'http://demo.ruthvasmslocal.com'
  app.controller("UserController", function($scope, $http, $location) {
    $http.get(baseDomain+"/user/checkLoginStatus")
    .then(function(res) {
        $scope.login = res.data.login;
        console.log(res.data);
    }, function (err) {
      window.location = baseDomain+'/login';
    });
  });
  </script>

</body>
</html>
